<% provide(:title,"About")%>

  <% logged_in? %>

    <div class="text-info text-center">

      <h1 class="display-4 pb-5 cover-heading">潰瘍性大腸炎患者相互支援SNS</h1>

      <p class="lead mt-5 text-monospace text-muted" style="padding: 120px 0 400px 0">未だ治療法が見つかっていない難病である潰瘍性大腸炎に罹った人達が<br>
        このSNSで少しでも前向きで生きられるようお互い励ましあえるようにできるように。<br>
        治療法の発見に希望をもつのはもちろんのこと、この病気と共にでもよりよく生きたいとの願いがあります。
      </p>

      <!-- <h1 class="py-5">たまには立ち止まりつつ前向きに生きて行きたい人が集まるSNS</h1> -->

      <section class="mb-5">
        <div>
          <h2>毎日の服薬を忘れず習慣化しましょう！</h2>
          <h3 class="py-4 text-muted">寛解を維持するには毎日の服薬が大切です。<br>忘れないようにアラートでサポートします！</h3>
        </div>
        <div class="col">
          <%= image_pack_tag "fifth_loop_med_alert.gif", class:"img-fluid", alt:"alert gif" %>
          <!-- <img src="medicinealert.gif" onclick="this.setAttribute('src', this.getAttribute('src').replace(/_play.gif$/g, '.gif'));" style="cursor: pointer;"> -->
        </div>
      </section>

      <section class="row mb-5">
        <div class="col-md-4">
          <%= image_pack_tag "fifth_loop_med_alert_click_ok.gif", class:"img-fluid", alt:"alert gif" %>
        </div>

        <div class="col-md-4">
          <h2 class="mt-5 mb-3">
            毎日服薬して記録を伸ばしましょう！
          </h2>
          <h3 class="text-muted mb-5">
            もし飲み忘れてしまっても、次は最高連続服薬記録を越えられるように頑張りましょう！
          </h3>
          <h2 class="my-5">
            カレンダーで今までの服薬記録が分かります。
          </h2>
        </div>

        <div class="col-md-4">
          <%= image_pack_tag "fifth_loop_check_med_calendar.gif", class:"img-fluid", alt:"alert gif" %>
        </div>

      </section>

      <section class="row mb-md-5">
        <div class="col-md-6">
          <h2>希望をもてる情報の交換・発信</h2>
          <h3 class="py-4 text-muted">
            まだ治療法が見つかっていませんが、現在の医療の進歩は目をみはる物があります。<br>
            情報や知識を得ることで、希望を持って人生を楽しみましょう！
          </h3>

          <!-- Slider main container -->
          <div class="swiper-container swiper1 my-5">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
              <!-- Slides -->
              <div class="swiper-slide"><%= image_pack_tag 'selfcomp.png', class:"img-fluid" %></div>
              <div class="swiper-slide"><%= image_pack_tag '2030.png', class:"img-fluid" %></div>
              <div class="swiper-slide"><%= image_pack_tag 'common.29.png', class:"img-fluid" %></div>
              <div class="swiper-slide"><%= image_pack_tag 'brainmaker.png', class:"img-fluid" %></div>

            </div>
            <!-- If we need pagination -->
            <div class="swiper-pagination page1"></div>

            <!-- If we need navigation buttons -->
            <!-- <div class="swiper-button-prev"></div> <div class="swiper-button-next"></div> -->

            <!-- If we need scrollbar -->
            <!-- <div class="swiper-scrollbar"></div> -->
          </div>
        </div>

        <div class="col-md-6">
          <%= image_pack_tag "hope.png", class:"img-fluid my-3", alt:"hope image" %>
        </div>
      </section>

      <section class="row m-md-5">

        <div class="col-md-6 order-md-2">
          <h2 class="pt-5">何気ない日常生活が送れることへの感謝</h2>
          <h3 class="py-4 text-muted">
            寛解状態を維持しているとありがたみが薄れてきます。<br>
            辛い症状に苦しんでいる方の状況やそんな中でも前向きに生きていることを知り、<br>
            より生きていることに感謝し、自分の体を大事にしてみませんか。
          </h3>

          <div class="swiper-container swiper2 mt-5">

            <div class="swiper-wrapper">

              <div class="swiper-slide"><%= image_pack_tag 'tyoyo.png', class:"img-fluid" %></div>
              <div class="swiper-slide"><%= image_pack_tag 'taberukototo.png', class:"img-fluid" %></div>

            </div>

            <div class="swiper-pagination page2"></div>

          </div>

        </div>

        <div class="col-md-6 order-md-1">
          <%= image_pack_tag "greatful.png", class:"img-fluid", alt:"greatful image" %>
        </div>

      </section>

      <!-- <section class="row m-md-5">
        <div class="col-md-6">
          <h2 class="pt-5">たまには愚痴ったっていいじゃない</h2>
          <h3 class="py-4">症状が悪化した人への応援</h3>
          <p>症状が悪化した時の苦しみ・孤独感はどんな病気でもそうかもしれないが、似た苦しみをもつ者同士、 たまには愚痴や苦しみを吐き出してもいいのでは？ただし、誹謗中傷は誰にも良いことないからやめましょ</p>
        </div>
        <div class="col-md-6">
          <%# <%= image_pack_tag "anger.png", class:"img-fluid", alt:"anger image" %> %>
        </div>

      </section> -->

    </div>
