<%= javascript_pack_tag 'today' %>

<% provide(:button_text,"投稿")%>

  <%= form_with model: @post, local: true do |f| %>
  <%# <%= form_tag("/posts/#{current_user.id}/create") do %>
    <%= render 'shared/error_messages', object: f.object %>

    <div class="row m-5 justify-content-center">

      <div class="col-md-6 col-12 my-2">
        <%= f.label :title, "タイトル" %>
        <%= f.text_field :title, class:"form-control",required: true %>
      </div>
      <!-- <div class="form-group"> <p>タイトル</p> <textarea class="form-control" name="title" rows="1" cols="20"></textarea> </div> -->
      <div class="col-md-4 col-10 my-2">
        <%= f.label :start_time, "日時" %>
        <%= f.date_field :start_time, class:"form-control", type:"date",id:"today" %>
      </div>
      <!-- <div class="form-group"> <p>日時</p> <input class="form-control" name="start_time" type="date" id="today"> </div> -->
    </div>

    <div class="px-3 col-10 d-block mx-auto">
      <%= f.label :content, "投稿内容" %>
      <%= f.text_area :content, class:"form-control pb-5", placeholder:"今日の調子は?" %>
    </div>

    <!-- <div class="form-group col-10 mt-5"> <p>投稿内容</p> <textarea class="form-control" placeholder="今日の調子は?" name="content" rows="8" cols="80"></textarea> </div> -->


    <div class="row m-3 justify-content-center">
      <%= f.label :image, "画像投稿", class:"mx-3" %>
      <%= f.file_field :image, accept: "image/jpeg, image/gif, image/png" %>
    </div>

    <%= f.submit yield(:button_text), class:"btn btn-lg btn-primary btn-block" %>
    <!-- <div class="col-12"> <button class="btn btn-primary d-block mx-auto" type="submit">投稿</button> </div> -->

  <% end %>
  <div class="mt-5 mr-5 d-flex justify-content-center">
    <%= form_with url: search_posts_path, method: :get, local: true do |f| %>
    <div class="row">
      <div class="col-9">
        <%= f.text_field :keyword, class:"form-control", placeholder: 'キーワードを入力してください', required: true %>
      </div>
      <div class="col-3">
        <%= f.submit '画像を検索', class: "btn btn-outline-primary" %>
      </div>
    </div>
    <% end %>
  </div>
